<ActionBar title="JPP" class="action-bar">
  <ActionItem [nsRouterLink]="['/map']" text="Retour"></ActionItem>
</ActionBar>

<StackLayout *ngIf="interestPoint">

    <label text="Nom: "></label>
  <label [text]="interestPoint.name"></label>
    <label text="Tarifs: "></label>
  <label [text]="interestPoint.tarification"></label>
    <label text="Adresse: "></label>
  <label [text]="interestPoint.address"></label>


</StackLayout>